<div class="schedule-wrapper">

  <h2 class="page-title">📅 Your Interview Schedule</h2>

  <div *ngIf="loading()" class="loading">Loading...</div>

  <div *ngIf="noData()" class="empty-box">
    No interview scheduled yet.
  </div>

  <div class="cards">
    <div class="card" *ngFor="let s of schedule()">

      <h3>Interviewer: {{ s.interviewer?.fullName }}</h3>

      <p><strong>Email:</strong> {{ s.interviewer?.email }}</p>
      <p><strong>Scheduled Date:</strong> {{ s.scheduledDate | date:'medium' }}</p>
      <p><strong>Interview Type:</strong> {{ s.interviewType }}</p>

      <!-- SHOW JOIN BUTTON ONLY WHEN MEETING IS ACTIVE -->
      <button class="meeting-btn"
              *ngIf="s.status === 'Pending' || s.status === 'Accepted'"
              (click)="openMeeting(s.meetingLink)">
        Join Meeting
      </button>

      <!-- 🔹 INTERVIEW RESULT SECTION -->
      <div class="result-box" *ngIf="s.status !== 'Pending'">

        <div *ngIf="s.status === 'Failed'" class="failed-text">
          ❌ Result: Failed. Please try again.
        </div>

        <div *ngIf="s.status === 'Rejected'" class="failed-text">
          ❌ You were rejected by interviewer.
        </div>

        <!-- 🔹 HIRED CASE -->
        <div *ngIf="s.status === 'Hired'">

          


          <!-- ❌ OFFER LETTER NOT SENT YET -->
          <div *ngIf="s.offerLetterSend === 0" class="success-text">
            <p>🎉 Congratulations , You have been selected</p>
            <p class="failed-text">📭 Offer Letter will be sent to you soon.</p>
          </div>

          <!-- <div *ngIf="s.Status === Hired">
            <p class="failed-text">📭 No offer letter has been sent yet.</p>
          </div> -->

          <!-- ✔ OFFER LETTER SENT -->
          <div *ngIf="s.offerLetterSend === 1">

            <!-- Show accept/reject options ONLY if user has not responded -->
            <div *ngIf="s.offerStatus == null">
              <p class="offer-label"><strong>🎉 You are Hired!</strong> Please choose:</p>

              <button class="offer-accept" (click)="updateOfferStatus(s.id, 1)">
                Accept Offer Letter
              </button>

              <button class="offer-reject" (click)="updateOfferStatus(s.id, 0)">
                Reject Offer
              </button>
            </div>

            <!-- OFFER ACCEPTED -->
            <div *ngIf="s.offerStatus === 1" class="success-text">
              ✅ Offer Letter Accepted! 🎉
            </div>

            <!-- OFFER REJECTED -->
            <div *ngIf="s.offerStatus === 0" class="failed-text">
              ❌ Offer Letter Rejected.
            </div>

          </div>

        </div>

      </div>

    </div>
  </div>

</div>
