<div class="candidate-wrapper">

  <h2 class="page-title">📅 Your Interview Schedule</h2>

  <div *ngIf="loading()" class="loading">Loading...</div>

  <div *ngIf="noData()" class="empty-box">
    No upcoming interviews.
  </div>

  <div class="cards">
    <div class="card" *ngFor="let i of upcoming()">

      <h3>{{ i.interviewType }} Interview</h3>

      <p><strong>Interviewer:</strong> {{ i.interviewer?.fullName }}</p>
      <p><strong>Email:</strong> {{ i.interviewer?.email }}</p>
      <p><strong>Date:</strong> {{ i.scheduledDate | date:'medium' }}</p>

      <p><strong>Status:</strong> {{ i.status }}</p>

      <button class="meeting-btn" (click)="openMeeting(i.meetingLink)">
        Join Meeting
      </button>

    </div>
  </div>

</div>
