<div class="upcoming-wrapper">

  <h2 class="page-title">⏳ Upcoming Interviews</h2>

  <div *ngIf="loading()" class="loading">Loading...</div>

  <div *ngIf="noData()" class="empty-box">
    No upcoming interviews.
  </div>

  <div class="cards">
    <div class="card" *ngFor="let c of upcoming()">
      <h3>{{ c.fullName }}</h3>
      <p>Email: {{ c.email }}</p>
      <p>Skills: {{ c.skillSet }}</p>

      <select (change)="updateStatus($event, c.id)">
  <option value="">Update Status</option>
  <option value="Accepted">✔ Accepted</option>
  <option value="Rejected">✖ Rejected</option>
</select>

    </div>
  </div>

</div>
